/* .Swipe {
  width: 500px;
  height: 700px;
  padding: 10px;
  background-color: white;
  border-radius: 30px 30px 14px 14px;
  position: relative;
}



.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 400px;
  max-width: 400px;
  height: 600px;
  max-height: calc(100vh - 40px - 80px - 70px - 70px);
  background-color: lightskyblue;
  border-radius: 28px;
}

.detail{
  display: flex;
} */

.card {
  width: 500px;
  min-height: 420px;
  position: relative;
}

.ftont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  font-size: 30px;
}

.back .ftont {
  position: absolute;
  left: 0;
  top: 0;
  background: orange;
  color: #FFF;
  padding: 5px;
  font-weight: 700;
  font-size: 13px;
}
