





.Swipe {
  width: 420px;
  height: 600px;
  padding: 10px;
  background-color: white;
  border-radius: 30px 30px 14px 14px;
  position: relative;
}



.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 400px;
  max-width: 400px;
  height: 600px;
  max-height: calc(100vh - 40px - 80px - 70px - 70px);
  background-color: lightskyblue;
  border-radius: 28px;
}
